{% extends 'base.html' %}
{% block content %}
{% load cart %}
{% load custom_filter %}


<div class="container">
    <div class="border rounded p-4 m-4">
       <p class="display-4 pl-3 ml-3">Your Cart Page</p>
       <table class="table">

      <thead>
          <th>Sr No.</th>
          <th>Product Image</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Product Quantity</th>
          <th>Product Total</th>
      </thead>
    {% for product in products %}
      <tr>
          <td>{{forloop.counter}}</td>
          <td><img class="rounded-circle" style="height: 80px;" src="{{product.image.url}}"></td>
          <td>{{product.name}}</td>
          <td>{{product.price|currency}}</td>
          <td>{{product|cart_quantity:request.session.cart}}</td>
          <td>{{product|product_price:request.session.cart|currency}}</td>
      </tr>
    {% endfor %}

    <tfoot>
      <tr>
          <th colspan="4" ></th>
          <th colspan="" >TOTAL</th>
          <th>{{products|total_prod_price:request.session.cart|currency}}</th>
      </tr>
      </tfoot>
       </table><hr>
      <div class="m-3 p-3">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        

        <a href="#" data-toggle="modal" data-target="#exampleModal"
           class="btn btn-outline-info border rounded col-lg-3 float-right">Check Out</a><hr>

      </div>


    </div>
</div>

<!------------------------------------------------------------------------------------------------->


<!------------------------------------------------modal---------------------------------------------------->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Check Out Form</h5><hr>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="m-2 p-3">
            <form action="/check-out" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="">Address</label>
              <input type="text" name="address" class="form-control" id="" aria-describedby="helpId" placeholder="">
            </div>
            <div class="form-group">
              <label for="">Phone</label>
              <input type="text" name="phone"  class="form-control" id="" aria-describedby="helpId" placeholder="">
            </div>
            <input type="submit" value="check out" class="btn btn-primary">
            </form>
        </div>
      </div>
    </div>
  </div>
</div> 

{% endblock %}

